@font-face {
  font-family: Campton;
  src: url(../Fuentes/campton-cufonfonts/CamptonLight.otf) format('truetype');
}

body {
  background-color: #03cafc;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh; 
  font-family: Campton;
  
}
.desplegable{
  position: relative;
  color: transparent;
  margin-top: -30px;
  margin-left: 20px;

}
.desplegable2{
  position: relative;
  color: transparent;
  margin-top: 10px;
  margin-left: 20px;
   
}
.desplegable3{
  position: relative;
  color: transparent;
  margin-top: 10px;
  margin-left: 20px;
}
.desplegable4{
  position: relative;
  color: transparent;
  margin-top: 10px;
  margin-left: 20px;
  
}
.desplegable:hover .links{
  display: block;
  ;
}
.desplegable2:hover .links2{
  display: block;
  ;
}
.desplegable3:hover .links3{
  display: block;
  ;
}
.desplegable4:hover .links4{
  display: block;
  ;
}
.boton{
  
  background-color: transparent;
  border: none;
  cursor: pointer;
  position: relative;
  top: 10px;
  font-size: 35px;
  width: 200px;
  height: 50px;
  color: white;
  text-align: left;
}
.links a{
  text-decoration: none;
  color: white;
  display: block;
  padding: 10px;
  text-align: left;
}
.links{
  display: none;
  font-size: 20px;
  color: white;
  position: relative;
  left: 15px;
  height: 90px;
}
.links2 a{
  text-decoration: none;
  color: white;
  display: block;
  padding: 10px;
  text-align: left;
}
.links2{
  display: none;
  font-size: 20px;
  color: white;
}
.links3 a{
  text-decoration: none;
  color: white;
  display: block;
  padding: 10px;
  text-align: left;
}
.links3{
  display: none;
  font-size: 20px;
  color: white;
}
.links4 a{
  text-decoration: none;
  color: white;
  display: block;
  padding: 10px;
  text-align: left;
}
.links4{
  display: none;
  font-size: 20px;
  color: white;
}
p{
  color: white;
  font-size: 31px;
}
.logo{
  position: relative;
  margin-bottom: 100px;
  border-bottom: solid 2px white;
}
.callButon{
  display: flex;
  flex-direction: column;
  width: 40px;
  height: 40px;
  position: relative;
  left: 200px;
}
.buttonPhone {
position: relative;
height: 40px;
width: 40px;
background-color:transparent;
left: 240px;
top: -30px;
border: none;
}
.buttonPhone2 {
  position: relative;
  height: 40px;
  width: 40px;
  background-color:transparent;
  left: 220px;
  top: -43px;
  border: none;
  }
  .buttonPhone3 {
    position: relative;
    height: 40px;
    width: 40px;
    background-color:transparent;
    left: 240px;
    top: -42px;
    border: none;
    }
    .buttonPhone4 {
      position: relative;
      height: 40px;
      width: 40px;
      background-color:transparent;
      left: 270px;
      top: -42px;
      border: none;
      }
.buttonPhone img{
position: absolute;
top: -1px;
right: 1px;
}
.col-md-12{
  background-color: #03cafc;
}
.buttonInfo{
background: transparent;
border: none;
position: relative;
top: -70px;
left: 270px;

}
.modal-body{
  color: black;
}

