@font-face {
  font-family: Campton;
  src: url(../Fuentes/campton-cufonfonts/CamptonLight.otf) format('truetype');
  src: url(../Fuentes/campton-cufonfonts/CamptonMedium.otf) format('truetype');
}

body {
  background-color: #03cafc;
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh; 
  font-family: Campton;
  
}

.desplegable{
  
  color: transparent;
  margin-top: -30px;
  margin-left: 30px;
  

}
.desplegable2{
  
  color: transparent;
  margin-top: 10px;
  margin-left: 30px;
;
   
}
.desplegable3{
  
  color: transparent;
  margin-top: 10px;
  margin-left: 30px;
  
}
.desplegable4{
  
  color: transparent;
  margin-top: 10px;
  margin-left: 30px;
 
}
.desplegable:hover .links{
  display: block;
  ;
}
.desplegable2:hover .links2{
  display: block;
  ;
}
.desplegable3:hover .links3{
  display: block;
  ;
}
.desplegable4:hover .links4{
  display: block;
  ;
}
.boton{
  
  background-color: transparent;
  border: none;
  cursor: pointer;
  position: relative;
  top: 10px;
  font-size: 35px;
  width: 200px;
  height: 50px;
  color: white;
  text-align: left;
}
.links a{
  text-decoration: none;
  color: white;
  display: block;
  padding: 10px;
  text-align: left;
}
.links{
  display: none;
  font-size: 20px;
  color: white;
  position: relative;
  left: 15px;
  height: 90px;
  text-align: center;
  left: -20px;
  margin-top: 20px;
}
.links2 a{
  text-decoration: none;
  color: white;
  display: block;
  padding: 10px;
  text-align: left;
}
.links2{
  display: none;
  font-size: 20px;
  color: white;
  text-align: center;
  position: relative;
  right: 10px;
  margin-top: 20px;
  
  
}
.links3 a{
  text-decoration: none;
  color: white;
  display: block;
  padding: 10px;
  text-align: left;
}
.links3{
  display: none;
  font-size: 20px;
  color: white;
  text-align: center;
  position: relative;
  right: 30px;
  margin-top: 20px;
}
.links4 a{
  text-decoration: none;
  color: white;
  display: block;
  padding: 10px;
  text-align: left;
}
.links4{
  display: none;
  font-size: 20px;
  color: white;
  position: relative;
  right: 30px;
  text-align: center;
  margin-top: 20px;
}

p{
  color: white;
  font-size: 31px;
}
.logo{
  position: relative;
  margin-bottom: 100px;
  border-bottom: solid 2px white;
}
/* .callButon{
  display: flex;
  flex-direction: column;
  width: 40px;
  height: 40px;
  position: relative;
  left: 200px;
} */
.buttonPhone {
position: relative;
height: 40px;
width: 40px;
background-color:transparent;
left: 170px;
top: -30px;
border: none;
}
.buttonPhone2 {
  position: relative;
  height: 40px;
  width: 40px;
  background-color:transparent;
  left: 140px;
  top: -45px;
  border: none;
  }
  .buttonPhone3 {
    position: relative;
    height: 40px;
    width: 40px;
    background-color:transparent;
    left: 140px;
    top: -52px;
    border: none;
    }
    .buttonPhone4 {
      position: relative;
      height: 40px;
      width: 40px;
      background-color:transparent;
      left: 140px;
      top: -45px;
      border: none;
      }
.buttonPhone img{
position: absolute;
top: -1px;
right: 1px;
}
.col-md-12{
  background-color: #03cafc;
}
.btn-group{
  position: relative;
  top: -75px;
  right: 150px;
}

.btn-group2{
  position: relative;
  top: -80px;
  right: 150px;

}

.strong2{
  color: white;
  font-family: Campton;
  font-size: 20px;
  text-align: center;
  position: relative;
  left: -30px;
}
.strong3{
  color: white;
  font-family: Campton;
  font-size: 20px;
  text-align: center;
  position: relative;
  left: -30px;
}.strong4{
  color: white;
  font-family: Campton;
  font-size: 20px;
  text-align: center;
  position: relative;
  left: -30px;
}
.gps{
  background: transparent;
  border: none;
  position: relative;
  bottom: 45px;
  left: 110px;
}
.gps2{
  background: transparent;
  border: none;
  position: relative;
  bottom: 45px;
  left: 130px;
}